<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - programmeringmed.Net3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/programmeringmed.Net3.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <a asp-action="Index" asp-controller="Home">
            <h1 class="logo">Moment 3</h1>
        </a>
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <nav id="mobile-menu" class="closed">
            <ul class="navbar-nav">
                <li>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Book">Books</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Person">Persons</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Author">Author</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Borrow">Loan</a>
                </li>
            </ul>
            <button class="close-button" onclick="closeMenu()">X</button>
        </nav>
    </header>



    <main>
        @RenderBody()
    </main>



    <footer>
        <p>Moment 3 - Edwin Lundbäck, <a id="mail" href="mailto:edlu2100@student.miun.se">edlu2100@student.miun.se</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
