@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome to my bookcollection</h1>
    <p>I've done the required part of the exercise as well as the bonus assignment. The requirements of the assignment were:</p>
    <ol>
        <li>
            <p>Utilized models, controllers, and views in the application.</p>
        </li>
        <li>
            <p>Employed Entity Framework Core for database operations.</p>
        </li>
        <li>
            <p>Implemented code-first approach to database creation.</p>
        </li>
        <li>
            <p>Enabled CRUD operations for books, including creation, editing, updating, and deletion.</p>
        </li>
        <li>
            <p>Implemented functionality to display all books and view details of a specific book.</p>
        </li>
        <li>
            <p>Demonstrated understanding of navigating and modifying data in a connected DBMS.</p>
        </li>
        <li>
            <p>Understood the usage of the DbContext class and inheritance from this class.</p>
        </li>
        <h3>Bonus assignment</h3>
        <li>
            <p>Implemented borrowing functionality for books, tracking borrowers and loan dates.</p>
        </li>
        <li>
            <p>Created at least one additional table to store data about the borrowers.</p>
        </li>
        <li>
            <p>Implemented a search function for books.</p>
        </li>
        <li>
            <p>Maintained good quality, structure, and alignment with relevant course material for VG (pass with
                distinction) grade attainment.</p>
        </li>
    </ol>
</div>
